@model IEnumerable<WebPhotoArchive.Models.Message>

<div id="chatAjax">
    @foreach (var item in Model)
    {
        <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
        <span style="word-wrap:break-word;">@Html.DisplayFor(modelItem => item.Text)</span>
        <hr />
    }
</div>
